
// vars : (A METTRE DANS UN FICHIER ENSUITE !!!)
// === === === === === === === === === === ===

// général
$linkColor: #08C;
$footerLinkColor: #e5512b;


//navbar :
$navbarBackgroundColor : #232934;
$navbarBorderColor : #81c0c4; //#bbbbb9;
$navbarBorderSize: 2px;
$navbarColor:               rgba(255,255,255,1) !default;
$navbarHoverColor:          rgba(255,255,255,0.8) !default;
$navbarActiveColor:         rgba(255,255,255,0.8) !default;
$navbarDisabledColor:       rgba(255,255,255,.5) !default;
$navbarDropMenuColor:       $navbarBackgroundColor;

//Login :
$themeBtnLoginColor : #e5512b;
$themeBtnLoginHover: #d5411b;
$cadreHome : #eeeee9;


// Style :
// === === === === === === === === === === ===

// général :
// --- --- --- --- --- --- --- --- --- --- --- 

a, .notification a  {
	color: $linkColor;
}
th, td {
	border: none;
}
body{
	height: auto; // souci avec une petite marge en bas, modif du footer ?
}


//navbar :
// --- --- --- --- --- --- --- --- --- --- --- 
header{
	.logo img{
		height: 27px;
		width: auto;
		@media screen and (max-width:1000px) {
			height: 20px;
		}
	}
}
.navbar .dropdown-toggle{
	@media screen and (max-width:1000px) {
		font-size: 0.9rem;
	}
}
.navbar-dark {
	background-color: $navbarBackgroundColor; 
	border-bottom: $navbarBorderSize solid $navbarBorderColor;

	// White links against a dark background

	.navbar-brand {
		color: $navbarActiveColor;
	  
		@include hover-focus {
			color: $navbarActiveColor;
		}
	}

	.navbar-nav {
		.nav-link {
			color: $navbarColor;

			@include hover-focus {
				color: $navbarHoverColor;
			}
		}

		.open > .nav-link,
		.active > .nav-link,
		.nav-link.open,
		.nav-link.active {
			@include plain-hover-focus {
				color: $navbarActiveColor;
			}
	  
		}
		.nav-item {
			float: right; // POUR METTRE LA LANGUES ET TOUT A DROITE !!!
			margin-right: 10px;
		}
		.usermenu {
			margin-left: 10px;
		}

		.navbar-divider {
			background-color: rgba(255,255,255,.075);
		}
	}
	.menubar{
		a{
			color: $navbarColor;
		}
		a:hover{
			color: $navbarHoverColor;
		}
		.dropdown-menu{
			a, a .icon{
				color: $navbarDropMenuColor !important;
			}
		}
	
	}
}


// Menu latéral (nav-drawer) : 
// --- --- --- --- --- --- --- --- --- --- --- 

// HACK pour masquer les elt inutiles :
[data-key="home"], [data-key="privatefiles"]{
	display:none;
}


#nav-drawer {
	
	background-color: #cedadf;
	
	//background-color: #B1e0e4;
	//background-color: #81c0c4;
	//border-right: 2px solid #81c0c4;
}
// 1e bloc de la page (breadscrum, ...) 
// --- --- --- --- --- --- --- --- --- --- --- 
.p-a-1 .card-block {
	//background-color: #B1e0e4;
	
	//border: 2px solid #81c0c4;
}

// Footer :
// --- --- --- --- --- --- --- --- --- --- --- 
#page-footer {	
	background-color: $navbarBackgroundColor !important;
	border-top: $navbarBorderSize solid $navbarBorderColor;
	text-align: center;
	a{
		color: $footerLinkColor;
	}
	@media screen and (max-width:1200px) {
		font-size: 0.8rem;
	}
	

	.footerUM{
		.logoUmPrn a:hover{
			text-decoration: none;
		}
		   
		
		img{
			width: auto;
			height: 60px;
			@media screen and (max-width:1350px) {
				height: 45px;
			}
			@media screen and (max-width:1150px) {
				height: 30px;
			}
		}
		.footerdivEAD {
			text-align: center;
			img{
				width: auto;
				height: 40px;
				padding : 0.5em;
				@media screen and (max-width:1350px) {
					height: 25px;
				}
				@media screen and (max-width:1150px) {
					height: 20px;
				}
			}
			ul{
				list-style: none;
				margin:0;
				padding:0;
			}
		}
		H5{
			margin: 0.5em 0 0.3em 0;
			color: #EEE;
		}
		
	}
	img{
		padding : 1em;
	}
	.textfooter{
		text-align: left;
		margin:0 !important;
		ul{
			list-style: none;
			margin: 0 0 0 1em;
			@media screen and (max-width:991px) {
				margin: 0;
				padding-left: 0;
			}
		}
		@media screen and (max-width:991px) {
			text-align: center;
		}
	}
	.logos-mobile img{
		width: auto;
		height: 40px;
	}

}

/** HOME PAGE A REFAIRE !!!
-------------------------*/
html.homepageead{
	background-color: $navbarBackgroundColor;
}
#page-site-index{
	
	padding-top: 25px;
		
	
	
	#subheader{
		img.icon{
			height: 90px;
			width: auto;
			@media (max-width: 767px){
				font-size: 18px;
			}
		}
		#subheader h1 {
			color: #FFF;
			font-size: 2em;
			font-weight: 400;
			line-height: 1.1;
			font-style: italic;
			@media (max-width: 767px){
				font-size: 1.5em;
			}
		}
	}
	
	
	#region-main{
		img{
			height: 65px;
			width: auto;
		}
	}
	.btn-play{
		img{
			height: 120px;
			width: auto;
			margin: 0 auto;
		}
	}
	
}


#subheader
{
	//background:  url([[pix:theme|banner_1400]]) no-repeat center center;
	padding-top: 20px;
	text-align: center;
	/*min-height: 100%;*/
	width: 100%;
	margin : -10px auto 20px auto;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

}

#subheader .container {
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#subheader .row {
	margin: 20px -15px 50px -15px;
}
#subheader h1 {
	color:#FFFFFF;
	font-size:2em;
	font-weight: normal;
	/*text-shadow: 5px 5px 7px #000;*/
	line-height: 15px;
	font-style: italic; 
}

.btn-login
{
	width: 320px;
	margin: 35px auto 0 auto;
	padding: 14px;
	text-align: center;
	border: 2px solid #ffffff;
	background: $themeBtnLoginColor;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	cursor: pointer;
	line-height: normal;
}

.btn-login:hover
{
	background: $themeBtnLoginHover;
}

.btn-login a
{
	font-size: 2.3em;
	color: #ffffff;
	text-transform: uppercase;
	font-weight:450;
	line-height: normal;
    
   
}

.btn-login a:hover
{
	color: #ffffff;
	text-decoration: none;
}
.btn-login a:link , .btn-login a:visited 
{
	color: #ffffff;
}
div.cadre-home{
	margin-top:20px;
	margin-bottom:20px;
	padding: 20px;
	border: 3px solid $navbarBorderColor;
	background:  $cadreHome;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	opacity: 0.8;
	filter: alpha(opacity=80); 
}

ul.home_ufr{
	list-style-type: none;
}

ul.home_ufr li{
	border-left: solid 4px $navbarBorderColor;
	padding-left: 10px;
	margin-top: 10px;
	line-height: 20px;
	font-size: 1.4em;
    
}
div.text_home{
	padding-top:20px ;
	text-align:justify;
}

div.text_home .contain_text {
	padding:15px 15px 15px 15px ;
	font-size :1.3em;

}
div.text_home .p_home {
	padding-left: 100px;
	min-height:50px;

}

div.text_home  img{
	padding: 0 15px 0 15px;
	/*margin-top:4px;*/
	float:left;
}




// TEST video en HOMEPAGE


video#bgvid { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-color: $navbarBackgroundColor;
	background-image: url([[pix:theme|banner_1400]]) no-repeat;
	background-size: cover; 
	opacity: 0.3;
	filter: alpha(opacity=30); 
}
video { display: block; }
video#bgvid {
	transition: 1s opacity;
}
.stopfade { opacity: .5; }

#page-site-index{
	background:none;
}

/*@media screen and (max-device-width: 800px) {
html {
background: url(???polina.jpg) #000 no-repeat center center fixed;
}
#bgvid {
display: none;
}
}*/

div.btn-play{
	margin-top:90px;
}
div.btn-play a {
	color:#FFF !important;
	font-size:1.1em;
}
div.btn-play img{
	display:block;
	text-align: center;
	margin: 5px auto 3px auto;
}
/** FIN HOME PAGE A REFAIRE !!!
-------------------------*/


/** Login form
-------------------------*/
#page-login-index{
	background-color: #FFF;
	
	[data-region="drawer-toggle"]{
		display:none;
	}
	span.login{
		color: $footerLinkColor;
	}
	.loginbox{

		.loginpanel{
			max-width: 350px;
			min-height: 200px;
			background-color: #F7F7F7;
			padding: 20px 25px 40px !important;
			margin: 0 auto 25px !important;
			margin-top: 50px !important;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    
			text-align: center;
		
			img{
				width: 96px;
				height: 96px;
				margin: 10px auto 25px;
				display: block;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
		}

		.signuppanel{
			max-width: 450px;
			background-color: #F8FFD0;
			padding: 20px 25px 40px !important;
			margin: 0 20px 25px !important;
			margin-top: 50px !important;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    
			text-align: center;
		}

	
		.profile-img-card2 {
			width: 96px;
			height: 96px;
			margin: 10px auto 15px;
			display: block;
			-moz-border-radius: 5%;
			-webkit-border-radius: 5%;
			border-radius: 5%;
		}
		.loginpanel H2{
			padding:0;
			margin:0;
		}
		div.loginbox a{
			font-size:1.3em;
		}
	}
	.card{
		//max-width: 350px;
		//min-height: 200px;
		background-color: #F7F7F7;
		padding: 20px 25px 40px !important;
		margin: 0 auto 25px !important;
		margin-top: 50px !important;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		
	}
}
