<div class="footer-valeoboost row">

    <div class="col-lg-4 d-none d-lg-block logoFooter">
        <a href="http://www.univ-lemans.fr/">
            {{# pix }} theme_valeoboost_logoUM, theme_valeoboost, Le Mans Université{{/ pix }}
        </a>

        {{! VALEO PIX }} {{> theme_valeoboost/footer_logos_valeo}}


    </div>


    <div class="col-lg-4 plateform-logo">

        {{# pix }} theme_valeoboost_logo, theme_valeoboost, Logo plateforme Le Mans université{{/ pix }}
            <ul>
                <li>

                    {{# str }} sitetitle, theme_valeoboost {{/ str }}
                </li>

            </ul>

    </div>

    <div class="col-lg-4 textfooter ">
        <h5>{{# str }} support:, theme_valeoboost {{/ str }}</h5>
        {{# str }} txtAssistanceFooter, theme_valeoboost {{/ str }}
    </div>
</div>
