
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid">
        <div id="page-content" class="row">
            
			
	        <header id="page-header" class="clearfix">
	            <div id="subheader">
	                <div class="container">
	                    <div class="row centered">
	                        <div class="col-lg-8 col-lg-offset-2">
								{{# pix }} logo608px, theme, Université du Maine{{/ pix }}
								{{# str }} sitetitle, theme_eadumboost {{/ str }}
								</h1>
                               
	                               <video playsinline autoplay muted loop poster="<?php echo $OUTPUT->image_url('screenshotvid_1400', 'theme')?>" id="bgvid">
	                                   <source src="http://umotion.univ-lemans.fr/media/videos/jjupin/467/video_467_720.mp4" type="video/mp4">
	                                   <source src="http://umotion.univ-lemans.fr/media/videos/jjupin/467/video_467_720.webm" type="video/webm">
                                       
                                  
	                               </video>
                               
            
                               
	                               <!--[if lt IE 9]>
	                               <script>
	                               	document.createElement('video');
	                               </script>
	                               <![endif]-->
                               
                              
                               
	                               <div class="btn-login"><a href="/moodle/login/">
									   {{# str }} connect, theme_eadumboost {{/ str }}
								   </a></div>       
                               
	                               <div class="btn-play centered">
	                                   <a href="http://umotion.univ-lemans.fr/video/0339-luniversite-du-maine-a-distance/" target="_blank">
	                                       <img alt="Lire la vidéo" src="<?php echo $OUTPUT->image_url('play_wh', 'theme')?>" height="120px" />
                                        
											{{# str }} watchvideo, theme_eadumboost {{/ str }}
	                                    </a>
	                                </div>
                                
	                        </div>
	                    </div><!-- row -->
	                </div>
                
	            </div> 
            
	            <div id="page-navbar" class="clearfix">
	                <nav class="breadcrumb-nav"><span class="accesshide">Chemin de la page</span><ul class="breadcrumb"><li><a href="http://ead.univ-lemans.fr/moodle/">Accueil</a></li></ul></nav>
	                <div class="breadcrumb-button"></div>
	            </div>
	            <div id="course-header">
	            </div>
	        </header>

	        <div id="page-content" class="row-fluid ead-home-content">
        
	            <section id="region-main" class="span12">
                
	                <div class="row-fluid">
	                    <div class="span10 offset1  cadre-home">
                    
	                        <div class="row-fluid text_home">
                            
	                            <div class="span10 offset1">
                                
	                                <div class="contain_text">
	                                    <img alt="Icone" src="<?php echo $OUTPUT->image_url('id-card_70', 'theme')?>" height="65px">
	                                    <div class="p_home"> 
											{{# str }} txthome1, theme_eadumboost {{/ str }}
	                                    </div> 
	                                </div>
	                                <div class="contain_text">
	                                    <img alt="Icone" src="<?php echo $OUTPUT->image_url('layers_70', 'theme')?>" height="60px">
	                                    <div class="p_home"> 
											{{# str }} txthome2, theme_eadumboost {{/ str }}
	                                    </div> 
	                                </div>
	                                <div class="contain_text">
	                                    <img alt="Icone" src="<?php echo $OUTPUT->image_url('info_70', 'theme')?>" height="60px">
	                                    <div class="p_home"> 
											{{# str }} txthome3, theme_eadumboost {{/ str }}
	                                    </div> 
	                                </div>
	                                <div class="contain_text">
	                                    <img alt="Icone" src="<?php echo $OUTPUT->image_url('laptop_70', 'theme')?>" height="60px">
	                                    <div class="p_home"> 
											{{# str }} txthome4, theme_eadumboost {{/ str }}
	                                    </div> 
	                                </div>
                                
                                
	                            </div>
                            
                            
	                        </div>
        
	                    </div>
	                </div>
	            </section>
        
        
        
	            <section class="novisible" >
                   {{{ output.main_content }}}
	               
	            </section>
	        </div>
			
			
			
        </div>
    </div>
</div>
{{{ output.standard_end_of_body_html }}}
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
