{{!
    The content of the home page (not connected) for guest access
}}


<div class="d-flex flex-wrap  justify-content-center cadre-home ">

{{# str }} connecte_invite, theme_valeoboost {{/ str }}

<a class="btn btn-primary btn-lg btn-courses" href="{{{ courseslistlink }}}" role="button">
  {{# str }} acces_cours, theme_valeoboost {{/ str }}
</a>


</div>
