{{!
    The header of the home page (not connected)
}}

<header class="clearfix">
    <div class="home-header-valeoboost">
        <div class="container">
            <div class="row centered text-center">
                <div class="col-lg-12">
                    {{# pix }} theme_valeoboost_logo_big, theme_valeoboost, Logo plateforme Le Mans université {{/ pix }}

                        <h1>
                            {{# str }} sitetitle, theme_valeoboost {{/ str }}

                        </h1>


                        <video playsinline autoplay muted loop id="bgvid">
                            <source src="http://umotion.univ-lemans.fr/media/videos/jjupin/467/video_467_720.mp4" type="video/mp4">
                            <source src="http://umotion.univ-lemans.fr/media/videos/jjupin/467/video_467_720.webm" type="video/webm">
                        </video>

                        <a class="btn btn-primary btn-lg btn-login" href="{{{ loginlink }}}" role="button">
                            {{# str }} connect, theme_valeoboost {{/ str }}
                        </a>

                        <div class="btn-play centered">
                            <a href="http://umotion.univ-lemans.fr/video/0339-luniversite-du-maine-a-distance/" target="_blank">
                                {{# pix }} theme_valeoboost_play_wh, theme_valeoboost{{/ pix }}
                                    {{# str }} watchvideo, theme_valeoboost {{/ str }}
                            </a>
                        </div>


                </div>
            </div>
        </div>

    </div>

</header>
