{{!
    The content of the home page (not connected)
}}

<div class="d-flex flex-wrap  justify-content-center cadre-home ">


    <div class="icon-home">
        {{# pix }} theme_valeoboost_id-card_70, theme_valeoboost{{/ pix }}
    </div>
    <div class="text-home-icon">
        {{# str }} txthome1, theme_valeoboost {{/ str }}
    </div>


    <div class="icon-home">
        {{# pix }} theme_valeoboost_layers_70, theme_valeoboost{{/ pix }}
    </div>
    <div class="text-home-icon">
        {{# str }} txthome2, theme_valeoboost {{/ str }}
    </div>

    <div class="icon-home">
        {{# pix }} theme_valeoboost_info_70, theme_valeoboost{{/ pix }}
    </div>
    <div class="text-home-icon">
        {{# str }} txthome3, theme_valeoboost {{/ str }}
    </div>

    <div class="icon-home">
        {{# pix }} theme_valeoboost_laptop_70, theme_valeoboost{{/ pix }}
    </div>
    <div class="text-home-icon">
        {{# str }} txthome4, theme_valeoboost {{/ str }}
    </div>



</div>
