// vars Valéo :
// === === === === === === === === === === ===

//navbar :
$navbarBackgroundColor: #4e6b7c;// #232934;
$navbarBorderColor: #82e600; //#81c0c4;
$navbarBorderSize: 4px; // 2px;


//nav-drawer
$navDrawerColor: #cedfda ; //#cedadf;

// Footer.
$footerLinkColor: $navbarBorderColor;


// Font Valéo :
body {font-family: 'Roboto', sans-serif;}
