// vars :
// === === === === === === === === === === ===

/* --- VAR EADUM: --- */

$themeSpecialColor1: #81c0c4; // Slightly desaturated cyan.
$themeSpecialColor2: #e5512b; // Orange EADUM.

$borderSizeNavAndFooter: 4px;

$lightbackground: #f4f4f4; //Very light gray (mostly white).
$darkBackground: #232934; //Very dark grayish blue.

$navdrawerBackground: #cedadf; //Light grayish blue.

$linkColor1: #08c;

/* --- VAR VALEO: (OVERRIDE EADUM ! ! !)--- */

/* Install Valeo Theme (from EADUM):
 * - search/replace all "theme_valeoboost" / theme_valeoboost
 * - un-comment Valeo's logos in the footer_content.mustache
 * - rename lang
 * - check pix
 */

$darkBackground: #4e6b7c; //Mostly desaturated dark blue.
$themeSpecialColor1: #82e600; //Fluo green.
$themeSpecialColor2: $themeSpecialColor1;

$navdrawerBackground: #cedfda; //Light grayish cyan - lime green.

// Font VALEO :
body {
    font-family: 'Roboto';
}


/* --- VAR UMTICE: --- */
/*
// Theme color:
$grayumtice           : #4d4d4d; // Very dark gray.
$lightgrayumtice      : #eee; // Very light gray.
$pinkumtice           : #de5b5e; // Soft red / pink.

$lightbackground      : #eeeee9; // Light grayish yellow.

$navdrawerBackground      : $lightgrayumtice;
*/

/* ================== */
/* --- VAR THEME: --- */
$white: #fff;
$greenWarning: #00ff3e; // Pure (or mostly pure) lime green.

// Theme color:
$themeSpecialColor1: $themeSpecialColor1; // nav/footer border
//$themeSpecialColor2    : $pinkumtice; // buttons,

// links
$linkColor1: $linkColor1; // link moodle
$linkColor2: $themeSpecialColor2; // only on footer

// navdrawer
$navdrawerBackground: $navdrawerBackground;

// text:
$whiteText: $white;
$whiteTextHover: #d8d9da; // Light grayish blue.
$blackText: #212529;

//background:
$lightbackground: $lightbackground;
$darkBackground: $darkBackground; // nav, footer

//navbar:
$navbarBackgroundColor: $darkBackground;
$navbarBorderColor: $themeSpecialColor1;
$navbarBorderSize: $borderSizeNavAndFooter;
$navbarTextColor: $white;
$navbarHoverColor: $whiteTextHover;

// Footer:
$footerBorderSize: $borderSizeNavAndFooter;

// Smallsmartphones
$screen-xs-min: 375px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Administration du site :
$adminDefaultRoleColor: $greenWarning;
