// Footer :
// --- --- --- --- --- --- --- --- --- --- ---

footer#page-footer {
    line-height: 2;

    text-align: center;

    border-top: $footerBorderSize solid $themeSpecialColor1;
    background-color: $darkBackground !important;

    a {
        text-decoration: none;

        color: $linkColor2;
        &:hover {
            text-decoration: underline;

            color: darken($linkColor2, 8%);
        }
    }

    .footer-valeoboost {
        div {
            margin-top: 5px;
        }
        img {
            width: auto;
            height: 30px;
        }
        .logoFooter {
            img {
                height: 30px;
                margin: 1em;
            }
            a img {
                height: 50px;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            list-style: none;
        }
        .textfooter {
            line-height: 1.5;
        }
    }
    .logininfo {
        margin-top: 15px;
    }
    .homelink,
    .sitelink,
    .tool_dataprivacy {
        display: none;
    }

    .navbar-nav ul {
        display: flex;
        align-content: stretch;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        li:not(:last-child) {
            &::after {
                margin: 0 .3rem;

                content: '|';
            }
        }
    }
}
