/** Login form
-------------------------*/
.pagelayout-login {
    .card-header {
        background: $darkBackground;
        img {
            width: auto;
            height: 30px;
        }
    }
    .card-body {
        text-align: center;
        h2 {
            font-size: 2.5em;
            font-weight: 600;

            margin-top: .8em;
            margin-bottom: 1em;

            color: $darkBackground;
        }
        h3 {
            //font-size: 1.6em;
        }

        .button-connect-login {
            a {
                font-size: 1.5em;

                margin-top: .8em;
                margin-bottom: .8em;
                img {
                    width: auto;
                    height: 1.6em;
                }

                @media (max-width: $screen-lg-min) {
                    font-size: 1.3em;
                }
                @media (max-width: $screen-md-min) {
                    font-size: 1em;
                }
            }
        }
        .button-connect-UM a {
            font-weight: 600;

            color: $whiteText;
            border: 2px solid $white;
            background: $linkColor1;

            &:hover {
                background: darken($linkColor1, 8%);
            }
        }
        form {
            margin-bottom: 2em;
        }
    }
    .connect-angers img {
        width: auto;
        height: 100px;
    }
}
