//navbar :
// --- --- --- --- --- --- --- --- --- --- ---

.navbar {
    border-bottom: $navbarBorderSize solid $navbarBorderColor;
    background-color: $navbarBackgroundColor;

    .logo img {
        width: auto;
        height: 22px;
    }
    .logo-xs img {
        width: auto;
        height: 33px;
    }
    .usermenu {
        color: $whiteText;

        a.dropdown-toggle {
            font-weight: 700;

            color: $whiteText;
        }
        .login a {
            color: $themeSpecialColor1;
        }
        .icon {
            color: $blackText !important; // var textblanc / text bk
        }
    }
    .dropdown-item:hover {
        background-color: $navbarHoverColor;
    }
    /* Notification, it was white with background white. */
        .notification a {
            color: $blackText !important;
    }
}
